<header>
  <h1 id="api-name">Timestamp API</h1>
  <p>Created by <a href="https://autumnchris.github.io/portfolio" target="_blank">Autumn Bullard</a> &copy; <%= new Date().getFullYear() %></p>
  <div class="api-description">
    <p>An API that converts a given calendar date to its affiliated timestamp and vice versa.</p>
    <p>View the <a href="https://github.com/autumnchris/timestamp-api" target="_blank" id="src-link" aria-labelledby="api-name src-link">source code</a> for this project.</p>
  </div>
  <hr />
</header>