<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') -%>
  <body>
    <header>
      <h1>404: Page not found</h1>
      <p>
        <a href="/" target="_self">Back to Home</a>
      </p>
    </header>
  </body>
</html>
