<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Timestamp API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen+Mono">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <header>
      <h1>Timestamp API</h1>
      <h2>Coded by <a href="https://autumnbullard-portfolio.herokuapp.com" target="_blank">Autumn Bullard</a></h2>
      <p>My project for the <a href="https://learn.freecodecamp.org/apis-and-microservices/apis-and-microservices-projects/timestamp-microservice" target="_blank">Timestamp Microservice challenge</a> as part of the curriculum for the Apis and Microservices Certification on <a href="https://www.freecodecamp.org" target="_blank">Free Code Camp</a>.</p>
      <p>View the <a href="https://github.com/autumnchris/timestamp-api" target="_blank">source code</a> for this project.</p>
      <hr>
    </header>
    <main>
      <h3>Example Usages</h3>
      <h4>Get the Current Date</h4>
      <p>To get JSON data for the current date, go to the path <code>/api/timestamp</code>.</p>
      <h4>Get Other Dates</h4>
      <p>Alternatively, you can get data for other dates by adding a parameter of a natural language date or a unix timestamp to the <code>/api/timestamp</code> path. Natural language dates must have <code>YYYY-M-D</code> formatting such as <code>/api/timestamp/2018-10-31</code>. Unix timestamps must be a valid integer defined in milliseconds such as <code>/api/timestamp/1540944000000</code>.</p>
      <h3>Example Output</h3>
      <p>A successful output should return a unix timestamp and its corresponding UTC date.</p>
<pre><code>{
  "unix": 1540944000000,
  "utc": "Wed, 31 Oct 2018 00:00:00 GMT"
}</code></pre>
    </main>
  </body>
</html>
