<%- include ('./partials/header-content') -%>
<main>
  <section>
    <h2>Example Usages</h2>
    <div class="subsection">
      <h3>Get the Current Date</h3>
      <p>To get the data for the current date, go to the route:</p>
      <pre>
        <code class="api-link">https://autumnchris-timestamp-api.onrender.com/api/timestamp</code>
        <button type="button" class="button copy-button api-current" title="Copy to clipboard" aria-label="copy to clipboard"><span class="copy-icon far fa-copy"></span></button>
      </pre>
    </div>
    <div class="subsection">
      <h3>Get Other Dates</h3>
      <p>To get the data for a specific date, add a parameter of a natural language date or a unix timestamp to the set route. Natural language dates must be written in <code>YYYY-MM-DD</code> formatting such as:</p>
      <pre>
        <code class="api-link">https://autumnchris-timestamp-api.onrender.com/api/timestamp/2018-10-31</code>
        <button type="button" class="button copy-button api-date" title="Copy to clipboard" aria-label="copy to clipboard"><span class="copy-icon far fa-copy"></span></button>
      </pre>
      <p>Unix timestamps must be a valid set of numbers such as:</p>
      <pre>
        <code class="api-link">https://autumnchris-timestamp-api.onrender.com/api/timestamp/1540944000000</code>
        <button  type="button" class="button copy-button api-timestamp" title="Copy to clipboard" aria-label="copy to clipboard"><span class="copy-icon far fa-copy"></span></button>
      </pre>
    <div>
  </section>
  <section>
    <h2>Example Output</h2>
    <p>A successful output should return a unix timestamp and its associated UTC date.</p>
    <pre><samp>{
  "unix": 1540944000000,
  "utc": "Wed, 31 Oct 2018 00:00:00 GMT"
}</samp></pre>
  </section>
</main>
