html,
body,
header,
main,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
code,
pre,
hr {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: Oxygen, Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align: left;
}

html {
  height: 100%;
}

body {
  font-size: 0.8rem;
  min-height: 100%;
  padding: 0 20px;
  position: relative;
}

a,
a:visited,
a:active,
a:focus {
  color: inherit;
  letter-spacing: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code,
pre {
  border-radius: 2px;
  color: inherit;
  font-family: "Oxygen Mono", monospace;
  font-weight: 700;
  letter-spacing: inherit;
  margin-right: 2px;
  padding: 2px;
  white-space: pre;
}

pre {
  margin: 20px 0;
  overflow-x: auto;
}

pre code {
  display: block;
  line-height: 18px;
  padding: 6px;
}
