/* BASE PAGE STYLES */

html {
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: hsl(0, 0%, 100%);
  font-family: Oxygen, sans-serif;
  height: 100%;
  letter-spacing: 1px;
}

body {
  background: hsl(0, 0%, 11%);
  background: -o-linear-gradient(330deg, hsl(0, 0%, 11%), hsl(270, 18%, 19%)) fixed;
  background: linear-gradient(120deg, hsl(0, 0%, 11%), hsl(270, 18%, 19%)) fixed;
  font-size: 0.9rem;
  min-height: 100%;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  padding: 0 20px;
  position: relative;
}

header {
  margin: 0 auto;
  max-width: 600px;
  padding-top: 40px;
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: 600px;
  padding: 5px 0 6rem;
}

section {
  padding-top: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0;
}

/* BASE ELEMENT STYLES */

div,
header,
main,
section,
p,
pre,
hr {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  line-height: 1.5;
  margin: 20px 0;
}

code,
samp {
  background: hsl(270, 100%, 95%);
  border-radius: 2px;
  color: hsl(270, 100%, 30%);
  font-family: "Oxygen Mono", monospace;
  padding: 2px;
  white-space: nowrap;
}

pre {
  background: hsl(270, 100%, 95%);
  border-radius: 4px;
  overflow-x: auto;
  padding: 12px;
}

pre code,
pre samp {
  background: transparent;
  border-radius: 0;
  line-height: 1.3;
  white-space: pre;
}

hr {
  border: 0;
  border-bottom: 1px solid hsl(0, 0%, 60%);
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: hsl(270, 100%, 85%);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus,
button:focus,
details:focus,
input:focus,
select:focus,
textarea:focus,
[tabindex]:focus {
  -webkit-box-shadow: 0 0 3px 3px hsla(203, 95%, 62%, 0.8);
  box-shadow: 0 0 3px 3px hsla(203, 95%, 62%, 0.8);
  outline: none;
}

/* SPECIFIC ELEMENT STYLES */

h1 {
  letter-spacing: 4px;
}

h2 {
  letter-spacing: 3px;
  text-align: center;
}

h3 {
  letter-spacing: 2px;
  padding-top: 20px;
}

.subsection {
  padding-bottom: 15px;
}

/* MEDIA QUERIES */

@media all and (min-width: 500px) {

  body {
    font-size: inherit;
  }
}
